Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
._*

logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
dist/

/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.iso
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.adf
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.a26
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.bin
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.rom
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.a78
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.a52
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.atr
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.bas
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.car
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dcm
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.xex
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.xfd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.atr
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.xfd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.7z
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gz
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.zip
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.j64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.jag
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.lnx
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.st
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.stx
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.msa
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.imgom
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.raw
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ipf
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ctr
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cas
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.wav
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.bas
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.asc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dmk
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.jvc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.os9
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dsk
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.vdk
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ccc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sna
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.col
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.crt
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.d64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.g64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.t64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.tap
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.x64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.prg
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.daphne
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cdi
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.chd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gdi
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.fds
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.nes
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gba
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gbc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gb
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sms
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gg
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ngw
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gen
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.md
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sg
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.smd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.int
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.itv
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.love
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.mx1
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.mx2
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.col
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dsk
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.m3u
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.d88
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.88d
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cmt
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.t88
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.d98
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.88d
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.98d
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.fdi
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.xdf
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.hdm
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dup
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.2hd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.tfd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.hdi
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.thd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.nhd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.hdd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.fdd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cmd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.hdn
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ngc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.n64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.v64
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.nds
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.pak
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ccd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cue
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.pae
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sh
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.bat
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.exe
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.conf
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cbn
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.mdf
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.pbp
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.toc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.znx
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z2
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.bz2
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dump
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cso
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ima
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cso
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.pbp
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.mgt
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sbt
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sad
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.mdf
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.32x
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dx1
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.2d
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dim
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.hdf
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sg
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.bs
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.fig
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.mgd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sfc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.smc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.swc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.fd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sap
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.k7
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.m5
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.m7
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.cfg
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gam
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.vac
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.vb
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.wsc
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.ws
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z1
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z2
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z3
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z4
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z5
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z6
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z7
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z8
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.sna
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.szx
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.z80
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.tap
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.tzx
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.gz
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.udi
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.mgt
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.img
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.trd
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.scl
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.dsk
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/*.xml
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/media/
/EmulationStation-x86_64.AppImage.home/.emulationstation/roms/**/media/
/EmulationStation-x86_64.AppImage.home/.emulationstation/themes/art-book/
/EmulationStation-x86_64.AppImage.home/.emulationstation/themes/fundamental/

/EmulationStation-x86_64.AppImage.home/.emulationstation/systems/retroarch/RetroArch-Linux-x86_64.AppImage.home/**/*
